$off-white: rgb(220, 220, 220);
$btn-blue: rgb(41, 44, 103);

@mixin button {
  background-color: $btn-blue;
  font-size: 1em;
  padding: 20px 40px;
  cursor: pointer;
  border: solid 5px $off-white;
  border-radius: 10px; 
  transition: all 200ms ease-in-out;

  &:hover {
    transform: scale(1.05);
    color: $btn-blue;
    background-color: $off-white;
  }
}

// Overall Styling

* {
  font-family: 'Press Start 2P', cursive;
  color: $off-white;
}

body {
  height: 100 vh;
  background-color: #1C1E3F;
  margin: 0;
}
 
.game-board {
  border: solid 10px $btn-blue;
  margin-left: 10px;
  margin-right: 10px;
}

#sound-container {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.sound-icon {
  transform: scale(0.5);
}

.sound-setting {
  cursor: pointer;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}


// Menu Page

#menu-heading {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.flex-container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mode-button {
  @include button;
  margin-right: 50px;
  margin-left: 50px;
  text-align: center;
  text-decoration: none;
}


// Single Player Mode

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.right-column {
  margin-left: 100px;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.play-button-single {
  @include button;
}


// Muli Player Mode

.players-name {
  font-size: 1.25em;
  text-align: center;
  opacity: 0.5;
  line-height: 2em;
}

.edited-name {
 font-size: 2em;
  text-align: center; 
  opacity: 1;
}

.multi-player-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.multi-player-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
}

#middle-column-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#canvas-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.play-button-multi {
  @include button;
  width: 50%; 
  margin-top: 20px;
  padding: 10px 20px;
  transform: scale(1);

  &:disabled {
    opacity: 0.4;
    transform: scale(0.85);
    cursor: default;

    &:hover {
      background-color: $btn-blue;
      color: $off-white;
    }
  }

}

.winner {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 6em;
  z-index: 5;
  line-height: 1.5em;
}










